@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&family=Righteous&display=swap');

*{
    font-family: 'Poppins';
}

.headerSection,
.formSection {
    margin: 40px auto;
    width: 400px;
    font-size: 20px;
}


.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSection {
    margin-top: 70px;
}

#yearType {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

h1 {
font-family: "Righteous";
  font-size: 4em;
  width: 490px;
  line-height: 1.1;
  margin: 90px 0 5px 50px;
  color: bisque;
  text-shadow: 4px 4px rgb(255, 42, 5);
}


i {
    font-family: "Righteous";
    color: bisque;
    font-size: 15px;
    padding-right: 15px;
}

select {
    margin-left: 28px;
    width: 110.48px;
}

.inputs {
    padding: 10px;
    font-size: 18px;  
    color: bisque;  
    /* margin-left: 20px; */
    
}

h4 {
    margin: 10px  0;
    font-size: 16px;
    width: 105px;
}

.pageNav {
    display: flex;
    margin-top: 0px;
    gap: 18px;
    width: 420px;
    
}

.pageButtons {
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(138, 138, 138);
    padding: 15px;
    height: 49px;
    border-radius: 2px;
    color: bisque;
}


h3 {
    font-weight: 800;
}

.movielist {
    margin: 0 auto;
    list-style: none;
    width: 90%;
    padding-left: 80px;
    gap: 50px 30px;
    display: flex;
    flex-wrap: wrap;
}

.movieCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;   
}

.pageButtons:hover {
    background-color: #636363;
}

.poster:hover {
    box-shadow: 3px 6px 10px 9px bisque;
}

.movieTitle {
    margin: 2px;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: top;
    color: rgb(255, 255, 255); 
}

.poster {
    border-radius: 20px;
    box-shadow: 5px 5px 5px #161616;
}

.footer {
    border-top: 1px solid rgb(107, 97, 85);
    width: 100%;
    height: 250px;
    margin: 100px auto 190px auto;
}

.error {
    color: #ca2323;
}