@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');

*{
    font-family: 'Poppins';
}

.headerSection,
.formSection {
    margin: 40px auto;
    width: 400px;
    font-size: 20px;
}


.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSection {
    margin-bottom: 100px;
}

#yearType {
    margin-bottom: 10px;
}

h1 {
  font-size: 4em;
  width: 490px;
  line-height: 1.1;
  margin-bottom: 5px;
  color: bisque;
  text-shadow: 4px 4px rgb(255, 42, 5);
  
}


i {
    color: bisque;
    font-size: 15px;
    padding-right: 15px;
}

select {
    margin-left: 15px;
}

h3 {
    font-weight: 800;
}


.movielist {
    margin: 0 auto;
    list-style: none;
    width: 90%;
    padding-left: 80px;
    gap: 50px 30px;
    display: flex;
    flex-wrap: wrap;
}

.inputs {
    padding: 10px;
    font-size: 18px;  
    color: bisque;  
}
.movieCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/* .movieCard:hover {
background-color: #0e0d0d;
color: bisque;
text-shadow: 3px 3px  #ca2323;
} */

.poster:hover {
    box-shadow: 3px 6px 10px 9px bisque;
}

.movieTitle {
    margin: 2px;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: top;
    color: rgb(255, 255, 255);
    
}

.poster {
    border-radius: 20px;
    box-shadow: 5px 5px 5px #161616;
}

.footer {
    border-top: 1px solid grey;
    width: 100%;
    height: 250px;
    margin: 40px auto;
}


.error {
    color: #ca2323;
}